

/* nav */
nav {
    padding: 60px;
    color: black;
    background-color: white;
}

a {
    color: black;
}

navStyle {
    color: white;
}

.gray {
    color: white;
    background-color: gray;
}

iconStyle {
    height: 10px;
}

.padding{
    padding: 70px 30px;
}

.footerPadding{
    padding: 30px 30px;
}