body {
  margin: 0;

}

/* nav */
nav {
  padding: 60px;
  color: black;
  background-color: white;
}

a {
  color: black;
}

.navStyle {
  color: white;
}

li a:hover {
  color: black;
  border-bottom: 2px solid #C53D3D;
}

body > div > section div > div > nav > ul > .navText {
  font-size: 1.5 rem;
}

.blockColor {
  color: white;
  background-color: rgb(19 73 88);
}

blockHeadColor {
  border-bottom: 2px solid white;
}
iconStyle {
  height: 10px;
}

.padding {
  padding: 70px 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .custshell {
    padding: 0px 0px;

} */
.custIcon {
  color: rgb(247, 238, 238);
  background-color: black;
  font-family: "Futura";
  text-align: center;
  /* border-style: solid; */
  /* border-radius: 15px; */
  padding: 30px;
  margin: 5px;
}

.OSPadding {
  padding-bottom: 85px;
}

.footerPadding {
  padding: 30px 30px;
}
